p.red {
  color: red;
}

b.background{
  color: #000000;
  background-color: #ffffff;
  background-image: url("image/game_bg.png")
}

td.public {color: blue;}
.protected {color: green;}
.private {color: red;}